@page
@model deneme.Pages.Chef.InventoryDeleteChefModel
@{
    Layout = "_LayoutChef";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center"><i class="bi bi-trash me-2 text-danger"></i>Delete Inventory</h2>
        <hr />
        <div class="alert alert-danger text-center" role="alert">
            <p style="margin-bottom:0px">The Inventory item which id is '<u>@Model.inventoryId</u>' will be deleted. <b>Are you sure?</b></p>
        </div>
        <div class="d-flex">
            <div class="ms-auto">
                <form method="post">
                    <input type="hidden" asp-for="inventoryId" value="@Model.inventoryId" />
                    <a href="/Chef/InventoryChef" class="btn btn-dark">Cancel</a>
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
