@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4 class="text-center"><i class="bi bi-alipay me-2 text-danger small"></i>Error Occured.</h4>
        <hr />
        @if (TempData["ErrorMessage"] == null)
        {
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(TempData["ErrorMessage"])
            </div>
        }


        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <div class="d-flex">
            <div class="ms-auto">
            <a asp-page="/Index" class="btn btn-sm btn-dark">Cancel</a>
            <a asp-page="/Staffs" class="btn btn-sm btn-outline-danger">Review the Staffs</a>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>