@page
@model deneme.Pages.StaffDeleteModel
@{
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center"><i class="bi bi-alipay me-2 text-danger small"></i>Deletion of Staff</h2>
        <hr />
        @if (ViewData["ConflictMessage"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                <p style="margin-bottom:0px">@Html.Raw(ViewData["ConflictMessage"])</p>
            </div>
            <div class="d-flex">
                <div class="ms-auto">
                    <a href="/roles" class="btn btn-dark">Cancel</a>
                    <a href="/tablestate" class="btn btn-success">Go to Table States</a>
                </div>
            </div>
        }
        else
        {
        <div class="alert alert-danger text-center" role="alert">
            <p style="margin-bottom:0px">The Role named as '<u>@Model.staffName</u>' will be deleted. <b>Are you sure?</b></p>
        </div>
        <div class="d-flex">
            <div class="ms-auto">
                <form method="post">
                    <input type="hidden" asp-for="staffId" value="@Model.staffId" />
                    <a href="/Staffs" class="btn btn-dark">Cancel</a>

                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>    
        }
    </div>
    <div class="col-md-2"></div>
</div>